body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.h1-tag {
    color: crimson;
}

.orange-color {
    color: orange;
}

.flaxcible-container {
    display: flex;
    margin-bottom: 100px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.img-1 {
    height: 80%;
    margin: 10px;
}

.img-2 {
    height: 100%;
    margin: 10px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiences-item {
    width: 40%;
    box-shadow: 10px 10px 40px rgb(56, 48, 3);
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

#web-dev {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#web-dev-1 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}

#insta-link {
    text-decoration: none;
}